<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>加盟商审核列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $('#examinelist').datagrid({
                title: '加盟商审核列表',
                iconCls: 'icon-save',
                url: '/manager/examine/selectAllCompany',
                method: 'get',
                columns: [
                    [
                        {field: 'id', title: 'ID', width: 50, hidden: true},
                        {field: 'title', title: '审核标题', width: 200, align: 'center'},
                        {field: 'name', title: '加盟商名称', width: 200, align: 'center'},
                        {
                            field: 'address',
                            title: '加盟商地址',
                            width: 200,
                            align: 'center',
                            formatter: function (val, row) {
                                return `<a href="commpanymap.html?gps=${row.gps}" target="_blank">${val}</a>`;
                            }
                        },
                        {
                            field: 'typeid',
                            title: '服务类型',
                            width: 80,
                            align: 'center',
                            formatter: function (value, row) {
                                if (row.typeid !== undefined) {
                                    switch (row.typeid) {
                                        case 1:
                                            return "生活";
                                        case 2:
                                            return "商务";
                                    }
                                }
                            }
                        },
                        {field: 'createdate', title: '提交日期', width: 150, align: 'center'},
                        {
                            field: 'username',
                            title: '申请账户名',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                return row.user ? row.user.nickname : '';
                            }
                        },
                        {
                            field: 'flag',
                            title: '状态',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                if (row.flag !== undefined) {
                                    switch (row.flag) {
                                        case 0:
                                            return "待审核";
                                        case 1:
                                            return "已通过";
                                        case -1:
                                            return "未通过";
                                    }
                                }
                            }
                        },
                        {
                            field: 'cz', title: '操作', width: 150, align: 'center', formatter: function (val, row) {
                                return `<a href="javascript:showDg('${row.id}');">查看加盟商详情</a>`;
                            }
                        }
                    ]
                ],
                toolbar: "#tooldiv",
                pagination: true,
                singleSelect: true
            });


            //初始化修改窗口
            $('#dg').dialog({
                title: '加盟商详情',
                width: 700,
                height: 700,
                closed: true,
                cache: false,
                modal: true,
                iconCls: 'icon-save'
            });

            $("#examinedg").dialog({
                title: '审核操作',
                width: 500,
                height: 300,
                closed: true,
                cache: false,
                modal: true,
                iconCls: 'icon-save',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        const row = $('#examinelist').datagrid('getSelected');
                        if (row && row.id) {
                            $.ajax({
                                url: '/manager/examine/updateExamineFlag',
                                type: 'POST',
                                data: {
                                    id: row.id,
                                    flag: $('#search_type').val(),
                                    examineInfo: $('#examineInfo').val()
                                },
                                success: function (response) {
                                    if (response.success) {
                                        $('#examinelist').datagrid('reload');
                                        $("#examinedg").dialog("close");
                                    } else {
                                        alert('审核失败：' + response.message);
                                    }
                                },
                                error: function () {
                                    alert('审核失败');
                                }
                            });
                        } else {
                            alert('请先选择一个审核记录');
                        }
                    }
                }, {
                    text: '关闭',
                    handler: function () {
                        $("#examinedg").dialog("close");
                    }
                }]
            });

            //初始化查询按钮
            $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                .click(function () {
                    $('#examinelist').datagrid('load', {
                        name: $('#searchName').val(),
                        flag: $('#searchFlag').val()
                    });
                });

        });

        //查询弹出方法
        function showDg() {
            $('#dg').dialog("open");
        }

        //打开审核操作界面方法
        function openexaminedg() {
            // 获取选中的行
            const row = $('#examinelist').datagrid('getSelected');
            if (!row) {
                alert('请先选择一个审核记录');
                return;
            }
            $("#examinedg").dialog("open");
            $('#search_type').val('1');
            $('#examineInfo').val('');
        }
    </script>
</head>
<body>
<div id="tooldiv">
    <input id="searchName" type="text" placeholder="请输入查询加盟商"/>
    <select id="searchFlag">
        <option value="">请选状态</option>
        <option value="0">待审核</option>
        <option value="1">已通过</option>
        <option value="-1">未通过</option>
    </select>
    <a id="submit_search">搜索</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openexaminedg();">审核</a>
</div>
<table id="examinelist"></table>
<!--审核详情界面-->
<div id="dg">
    <div align="center" style="margin-top: 30px">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'服务商名称:'" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'公司地址:'" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'公司电话:'" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'联系人:'" readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'规模:'" readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'注册时间:'" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
                <textarea cols="80" rows="5" readonly="true" style="border: 0px;">
                </textarea>
        </div>
        <div class="imgtab">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">

        </div>
    </div>
</div>
<!--审核操作界面-->
<div id="examinedg">
    <div align="center" style="margin-top: 30px">
        <form id="ff" method="post">
            <table>
                <tr>
                    <td>
                        审核状态:
                    </td>
                    <td>
                        <select name="search_type" id="search_type" style="width:100px" data-options="editable:false">
                            <option value="1">通过</option>
                            <option value="-1">不通过</option>
                        </select>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td>
                        审核备注:
                    </td>
                    <td>
                        <textarea id="examineInfo" rows="10" cols="30"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>