<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>平台服务列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/manager/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/manager/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/manager/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $('#serverlist').datagrid({
                title: '平台服务列表',
                iconCls: 'icon-save',
                url: '/manager/serverInfo/selectAllServerInfo',
                method: 'get',
                columns: [
                    [
                        {field: 'id', title: 'ID', width: 50, hidden: true},
                        {field: 'servername', title: '服务名称', width: 200, align: 'center'},
                        {field: 'linkman', title: '联系人', width: 100, align: 'center'},
                        {field: 'phone', title: '联系电话', width: 125, align: 'center'},
                        {
                            field: 'companyid',
                            title: '所属服务商',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                return row.serverCompany ? row.serverCompany.name : '-';
                            }
                        },
                        {
                            field: 'companytype',
                            title: '服务商类型',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                if (row.serverCompany.type !== undefined) {
                                    switch (row.serverCompany.type) {
                                        case 1:
                                            return "生活";
                                        case 2:
                                            return "商务";
                                    }
                                } else return '-';
                            }
                        },
                        {
                            field: 'companylevel',
                            title: '服务商等级',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                return row.member ? row.member.level : '-';
                            }
                        },
                        {
                            field: 'userid',
                            title: '发布账户名',
                            width: 100,
                            align: 'center',
                            formatter: function (value, row) {
                                return row.user ? row.user.name : '-';
                            }
                        },
                        {field: 'createdate', title: '发布日期', width: 100, align: 'center'},
                        {
                            field: 'flag',
                            title: '状态',
                            width: 100,
                            align: 'center',
                            formatter: function (val) {
                                return val === 1 ? '上线' : '下线';
                            }
                        },
                        {
                            field: 'cz', title: '操作', width: 150, align: 'center', formatter: function (val, row) {
                                return `<a href="javascript:showDg('${row.id}');">查看</a>`;
                            }
                        }
                    ]
                ],
                toolbar: "#tooldiv",
                pagination: true,
                singleSelect: true
            });


            //初始化修改窗口
            $('#dg').dialog({
                title: '服务详情',
                width: 700,
                height: 700,
                closed: true,
                cache: false,
                modal: true,
                iconCls: 'icon-save'
            });

            $('#editdg').dialog({
                title: '服务修改',
                width: 700,
                height: 700,
                closed: true,
                cache: false,
                modal: true,
                iconCls: 'icon-save',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        const formData = {
                            'id': $('#id').val(),
                            'companyid': $('#companyId').val(),
                            'servername': $('#name').textbox('getValue'),
                            'phone': $('#phone').textbox('getValue'),
                            'linkman': $('#linkman').textbox('getValue'),
                            'serviceTypeIds': $('#serverType').combobox('getValues'),
                            'serviceAreaIds': $('#serverArea').combobox('getValues'),
                            'info': $('#info').val()
                        };
                        if (!formData.servername || formData.servername.trim() === '') {
                            $.messager.alert('错误', '服务名称不能为空', 'warning');
                            return;
                        }
                        $.ajax({
                            url: '/manager/serverInfo/modifyServerInfo',
                            type: 'POST',
                            data: formData,
                            traditional: true,
                            dataType: 'json',
                            success: function (response) {
                                if (response.success) {
                                    $('#editdg').dialog('close');
                                    $('#serverlist').datagrid('reload');
                                    $.messager.alert('成功', '修改成功', 'info');
                                } else {
                                    $.messager.alert('错误', response.message || '修改失败', 'error');
                                }
                            },
                            error: function (xhr) {
                                $.messager.alert('错误', '请求失败: ' + xhr.statusText, 'error');
                            }
                        });

                    }


                }, {
                    text: '关闭',
                    handler: function () {
                        alert('cancel');

                    }
                }]
            });

            //初始化查询按钮
            $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true}).click(function () {
                // alert("开始查询");
                $('#serverlist').datagrid('load', {
                    servername: $('#searchName').val(),
                    flag: $('#searchStatus').val()
                });
            });
        });

        //查询弹出方法
        function showDg(id) {
            $.ajax({
                url: '/manager/serverInfo/showDetail',
                type: 'GET',
                data: {id: id},
                success: function (data) {
                    $('#dg_name').textbox('setValue', data.serverInfo.servername);
                    $('#dg_phone').textbox('setValue', data.serverInfo.phone);
                    $('#dg_linkman').textbox('setValue', data.serverInfo.linkman);
                    $('#dg_companyName').textbox('setValue', data.serverInfo.serverCompany.name);
                    if (data.serverInfo.serverCompany.type === 1) {
                        $('#dg_companyType').textbox('setValue', '生活');
                    } else if (data.serverInfo.serverCompany.type === 2) {
                        $('#dg_companyType').textbox('setValue', '商务');
                    }
                    $('#dg_companyMember').textbox('setValue', data.serverInfo.member.level);
                    $('#dg_serverType').textbox('setValue', data.serverInfo.serviceRange);
                    $('#dg_serverArea').textbox('setValue', data.serverInfo.serviceAreas);
                    $('#dg_createdate').textbox('setValue', data.serverInfo.createdate);
                    $('#dg_flag').textbox('setValue', data.serverInfo.flag);
                    $('#dg_info').val(data.serverInfo.info);

                    $('#dg').dialog("open");
                },
                error: function () {
                    alert('获取数据失败，请重试');
                }
            });
        }


        function openeditdg() {
            const row = $('#serverlist').datagrid('getSelected');
            if (!row) {
                alert("请先选择一个服务商");
                return;
            }
            Promise.all([
                $.ajax({url: '/manager/serverInfo/selectTypes'}),
                $.ajax({url: '/manager/serverInfo/selectAreas'})
            ]).then(function ([typesResp, areasResp]) {
                $('#serverType').combobox({
                    data: typesResp.data,
                    valueField: 'id',
                    textField: 'text',
                    multiple: true
                });
                $('#serverArea').combobox({
                    data: areasResp.data,
                    valueField: 'id',
                    textField: 'text',
                    multiple: true,
                    onSelect: function (record) {
                        const NANJING_ID = 1;
                        const $combobox = $(this);
                        const currentValues = $combobox.combobox('getValues').map(Number); //字符串数组!!!
                        setTimeout(() => {
                            if (record.id === NANJING_ID) {
                                $combobox.next('.combo').find('.combo-item-selected').removeClass('combo-item-selected');
                                $combobox.combobox('setValues', [NANJING_ID]);
                                $combobox.combobox('setText', "南京");
                                $combobox.data('combobox').previousValue = [NANJING_ID];
                                return;
                            }
                            let newValues;
                            if (currentValues.includes(NANJING_ID)) {
                                newValues = currentValues.filter(v => v !== NANJING_ID);
                                if (!newValues.includes(record.id)) {
                                    newValues.push(record.id);
                                }
                            } else {
                                newValues = [...currentValues];
                                if (!newValues.includes(record.id)) {
                                    newValues.push(record.id);
                                }
                            }
                            $combobox.combobox('setValues', newValues);
                        }, 0);
                    }
                });
                return $.ajax({
                    url: '/manager/serverInfo/showDetail',
                    data: {id: row.id}
                });
            }).then(function (data) {
                $('#id').textbox('setValue', data.serverInfo.id);
                $('#companyId').textbox('setValue', data.serverInfo.serverCompany.id);
                $('#name').textbox('setValue', data.serverInfo.servername);
                $('#phone').textbox('setValue', data.serverInfo.phone);
                $('#linkman').textbox('setValue', data.serverInfo.linkman);
                $('#companyName').textbox('setValue', data.serverInfo.serverCompany.name);
                if (data.serverInfo.serverCompany.type === 1) {
                    $('#companyType').textbox('setValue', '生活');
                } else if (data.serverInfo.serverCompany.type === 2) {
                    $('#companyType').textbox('setValue', '商务');
                }
                $('#companyMember').textbox('setValue', data.serverInfo.member.level);
                $('#createdate').textbox('setValue', data.serverInfo.createdate);
                $('#flag').textbox('setValue', data.serverInfo.flag);
                $('#info').val(data.serverInfo.info);
                if (data.serverInfo.serviceTypeIds) {
                    $('#serverType').combobox('setValues', data.serverInfo.serviceTypeIds);
                }
                if (data.serverInfo.serviceAreaIds) {
                    $('#serverArea').combobox('setValues', data.serverInfo.serviceAreaIds);
                }
                $('#editdg').dialog('open');
            }).catch(function (error) {
                console.error("加载失败:", error);
                alert('数据加载失败，请重试');
            });
        }


        // 提交修改数据
        // function submitModification() {
        //     console.log($('#type').combobox('getValue'));
        //     const formData = {
        //         id: $('#id').val(),
        //         name: $('#name').textbox('getValue'),
        //         address: $('#address').textbox('getValue'),
        //         phone: $('#phone').textbox('getValue'),
        //         linkman: $('#linkman').textbox('getValue'),
        //         scale: $('#scale').textbox('getValue'),
        //         type: $('#type').combobox('getValue'),
        //         createdate: $('#createdate').datebox('getValue'),
        //         gps: $('#gps').textbox('getValue'),
        //         info: $('#info').val()
        //     };
        //     $.ajax({
        //         url: '/manager/serverInfo/modifyServerInfo',
        //         type: 'POST',
        //         data: formData,
        //         success: function (response) {
        //             if (response.success) {
        //                 alert('修改成功');
        //                 $('#editdg').dialog('close');
        //             } else {
        //                 alert('修改失败');
        //             }
        //         },
        //         error: function () {
        //             alert('提交失败，请重试');
        //         }
        //     });
        // }

        // 禁用服务商
        function disableServer() {
            const row = $('#serverlist').datagrid('getSelected');
            if (row && row.id) {
                $.ajax({
                    url: '/manager/serverInfo/disableServerInfo',
                    method: 'POST',
                    data: {id: row.id},
                    success: function (response) {
                        $('#serverlist').datagrid('reload');
                    },
                    error: function () {
                        alert('禁用失败');
                    }
                });
            } else {
                alert('请先选择一个服务商');
            }
        }

        // 启用服务商
        function enableServer() {
            const row = $('#serverlist').datagrid('getSelected');
            if (row && row.id) {
                $.ajax({
                    url: '/manager/serverInfo/enableServerInfo',
                    method: 'POST',
                    data: {id: row.id},
                    success: function (response) {
                        $('#serverlist').datagrid('reload');
                    },
                    error: function () {
                        alert('启用失败');
                    }
                });
            } else {
                alert('请先选择一个服务商');
            }
        }
    </script>
</head>
<body>
<div id="tooldiv">
    <input id="searchName" type="text" placeholder="请输入服务名"/>
    <select id="searchStatus">
        <option value="">请选状态</option>
        <option value="1">上线</option>
        <option value="0">下线</option>
    </select>
    <a id="submit_search">搜索</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="openeditdg();">修改</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="disableServer()">下线</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="enableServer()">上线</a>
</div>
<table id="serverlist"></table>
<!--服务详情界面-->
<div id="dg">
    <div align="center" style="margin-top: 30px">
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'服务名称:'" id="dg_name" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'联系人:'" id="dg_linkman" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'联系电话:'" id="dg_phone" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'所属服务商:'" id="dg_companyName"
                   readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务商类型:'" id="dg_companyType"
                   readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务商等级:'" id="dg_companyMember"
                   readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务范围:'" id="dg_serverType"
                   readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务地区:'" id="dg_serverArea"
                   readonly="true" value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'发布时间:'" id="dg_createdate"
                   readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'状态:'" id="dg_flag" readonly="true"
                   value=""/>
        </div>
        <div style="margin-bottom:20px">
                <textarea cols="80" rows="5" id="dg_info" readonly="true" style="border: 0px;">
                </textarea>
        </div>
        <div class="imgtab">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
            <img src="./images/tx.jpg" alt="" style="width: 100px;height: 100px;">
        </div>
    </div>
</div>
<!--服务修改界面-->
<div id="editdg">
    <div align="center" style="margin-top: 30px">
        <div style="margin-bottom:20px; display: none;">
            <input class="easyui-textbox" style="width:50%" data-options="label:'服务id:'" id="id" value=""
                   type="hidden"/>
        </div>
        <div style="margin-bottom:20px; display: none;">
            <input class="easyui-textbox" style="width:50%" data-options="label:'服务商id:'" id="companyId" value=""
                   type="hidden"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'服务名称:'" id="name"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'联系人:'" id="linkman"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%" data-options="label:'联系电话:'" id="phone"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'所属服务商:'" id="companyName"
                   readonly="true"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务商类型:'" id="companyType"
                   readonly="true"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-textbox" style="width:50%;" data-options="label:'服务商等级:'" id="companyMember"
                   readonly="true"/>
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-combobox"
                   id="serverType"
                   style="width:350px"
                   data-options="label:'服务范围', multiple:true">
        </div>
        <div style="margin-bottom:20px">
            <input class="easyui-combobox"
                   id="serverArea"
                   style="width:350px"
                   data-options="label:'服务地区', multiple:true">
        </div>
        <div style="margin-bottom:20px">
            <textarea cols="80" rows="5" id="info"></textarea>
        </div>
        <div style="margin-bottom:20px">
            <input type="file" multiple="multiple"/>
        </div>
    </div>
</div>
</body>
</html>